
  
  <!-- The App Section -->
  <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>About Classic Solutions</b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>What are we?</b></h1>
        <p><span style="font-size:36px">Fixing Classic Cars The Modern Way</span><br>Using modern technology to help bring classic car maintenance to the 21st Century </p>
       
      </div>
      <div class="column-33">
          <img class="imgabout"src="../assets/old_classic.jpg" width="335" height="471">
      </div>
    </div>
  </div>
  
  <!-- Clarity Section -->
  <div class="container" style="background-color:#f1f1f1">
    <div class="row">
      <div class="column-33">
        <img class="imgabout" src="../assets/old_classic2.jpg" alt="App" width="335px" height="471px">
      </div>
      <div class="column-66">
        <h1 class="xlarge-font"><b>Why Us?</b></h1>
        <h1 class="large-font" style="color:red;"><b>Easier access to Garages and Suppliers</b></h1>
        <p><span style="font-size:24px">We wont just show you the business, we'll show you the way!</span> Using Google Maps to give you the best route to that service from your current location.</p>
        <a href="#!/register">
          <button class="button" style="background-color:red;  border-radius: 8px;">Register Today</button>
      </a>
  
      </div>
    </div>
  </div>
  
  <!-- The App Section -->
  <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>Still Not Conviced</b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>Filter through business </b></h1>
        <p><span style="font-size:36px">Find what you need</span> You can search for any service in any location. This is the only application which you will ever need to help you keep you classic car to the highest standard.</p>
        <a href="#!/register">
          <button class="button" style="border-radius: 8px;">Join the community</button>
      </a>
        
      </div>
      <div class="column-33">
          <img class="imgabout"src="../assets/old_classic3.jpg" width="335" height="571" >
      </div>
    </div>
  </div>
  <br>
  <br>