
  
  <!-- The App Section -->
  <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>About Classic Solutions</b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>What are we?</b></h1>
        <p><span style="font-size:36px">Fixing Classic Cars The Modern Way</span><br>Using modern technology to help bring car maintenance to the 21st Century </p>
       
      </div>
      <div class="column-33">
          <img src="../assets/old_classic.jpg" width="335" height="471">
      </div>
    </div>
  </div>
  
  <!-- Clarity Section -->
  <div class="container" style="background-color:#f1f1f1">
    <div class="row">
      <div class="column-33">
        <img src="../assets/old_classic2.jpg" alt="App" width="335" height="471">
      </div>
      <div class="column-66">
        <h1 class="xlarge-font"><b>Why Us?</b></h1>
        <h1 class="large-font" style="color:red;"><b>Pixels, who?</b></h1>
        <p><span style="font-size:24px">A revolution in resolution.</span> Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button class="button" style="background-color:red">Register Today</button>
      </div>
    </div>
  </div>
  
  <!-- The App Section -->
  <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>Still Not Conviced</b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why use it?</b></h1>
        <p><span style="font-size:36px">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button class="button">Join Here</button>
      </div>
      <div class="column-33">
          <img src="../assets/old_classic3.jpg" width="335" height="471" >
      </div>
    </div>
  </div>
  <br>
  <br>