
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class= "headers"> Latest Offers</div>
        <hr>
        <div class="col-lg-6">
            <p>Can't find what you are looking for? Why not search for it!</p>
            <input type="text" class="form-control" name="search" placeholder="search for .." ng-model="searchKeyword">
            <button type="button" ng-click="businessPost.search(searchKeyword, number);" class="btn btn-success">Search</button>
            <button type="button" ng-click="businessPost.clear();"class="btn btn-default">Clear</button>
        </div>
    </div>
  </div>

<div class="jumbotron text-center" ng-show="businessPost.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<div ng-show="searchFilter !== undefined">
    <p>Total Results: {{( businessPost.posts | filter: searchFilter ).length }} </p>
</div>
<div ng-show="searchFilter !== undefined">
    <p>Showing: {{( businessPost.posts | filter: searchFilter | limitTo: businessPost.limit).length }} </p>
</div>
<div class='row show-hide-message' ng-show="businessPost.showMoreError">
    <div class="alert alert-danger">{{businessPost.showMoreError}}</div>
</div>
<div class="panel panel-primary">
    <div class="panel panel-default card" ng-controller="postController">
      <div class="panel-body"  >
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="company in businessPost.posts | filter: searchFilter | limitTo: business.limit">
            <h2><strong> {{ company.business_title}}</strong></h2>
            <h3> {{ company.business_name}}</h3>
            <p>Type: {{ company.business_type}}</p>
            <p>Specialization: {{ company.specialization}}</p>
            <p>Offer: {{ company.post}}</p>
            
            
            <a href="http://{{company.website}}">
                <button type="button"  class="btn btn-primary">Click here for more details</button>
            </a>
             <a href="#!/subscribe">
                <button type="button" class="btn btn-warning">Subscribe for notifcations</button>
            </a>
            
             <button type="button" ng-click="businessPost.deletePost(company._id);" ng-show="businessPost.deleteAccess && main.authorized"class="btn btn-danger">Remove Offer</button>
            
          </li>
       </ul>
     </div>
   </div>
</div>
<br>
<br>
<div class="showmore">
    <div class= "col-lg-6">
        <div class="input-group">      
            <span class="input-group-addon">Results to display:  </span>&nbsp;
            <input type="text" class="form-control" ng-model="number">
            <button type="button" ng-click="businessPost.showMore(number);" class="btn btn-success">Apply Filter</button> &nbsp
            <button type="button" ng-click="businessPost.showAll();" class="btn btn-warning">Show All</button>
        </div> 
    </div>
</div>
   

<div class='row show-hide-message'ng-show="businessPost.successMsg">
    <div class="alert alert-success">{{businessPost.successMsg}}</div>
</div>
<br>
<div class='row show-hide-message'ng-show="businessPost.errorMsg">
    <div class="alert alert-danger">{{businessPost.errorMsg}}</div>
</div>
<br><br><br>

