<div class= "page-header"> 
    <h1>Dashboard</h1>
</div>
<br>
<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>


<br>
<br>
<div class="showmore">
    <div class= "col-lg-6">
        <div class="input-group">      
            <span class="input-group-addon">Results to display:  </span>&nbsp;
            <input type="text" class="form-control" ng-model="number">
            <button type="button" ng-click="business.showMore(number);" class="btn btn-success">Apply Filter</button> &nbsp
            <button type="button" ng-click="business.showAll();" class="btn btn-warning">Show All</button>
        </div>
        
    </div>

</div>
<br>
<div class="navbar-form">
    <div class= "col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="search for .." ng-model="searchKeyword">
            <button type="button" ng-click="business.search(searchKeyword, number);" class="btn btn-success">Search</button>
            <button type="button" ng-click="business.clear();"class="btn btn-default">Clear</button>
            <a href="#!/searchBusiness">
                <button type="button" class="btn btn-warning">Advanced Search</button>
            </a>
        </div>
    </div>
</div>
<br>

<div ng-show="searchFilter !== undefined">
    <p>Total Results: {{( business.users | filter: searchFilter ).length }} </p>
</div>
<div ng-show="searchFilter !== undefined">
    <p>Showing: {{( business.users | filter: searchFilter | limitTo: business.limit).length }} </p>
</div>
<br>

<div class='row show-hide-message' ng-show="business.showMoreError">
    <div class="alert alert-danger">{{business.showMoreError}}</div>
</div>
<br>


<div class="panel panel-primary">
  

<div class="panel panel-default card" ng-controller="businessController">
    
      <div class="panel-body"  >
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="company in business.companies | limitTo: business.limit">
            <p><strong> {{ company.business_name}}</strong></p>
            <p>Type: {{ company.business_type}}</p>
            <p>Address: {{ company.business_address}}</p>
            <p>Postcode: {{ company.business_postcode}}</p>
            <p>Specialization: {{ company.specialization}}</p>
            
            <a href="#!/view_business/{{ company._id}}">
                <button type="button"  class="btn btn-primary">More Information</button>
            </a>
            <a href="#!/edit_business/{{ company._id}}">
                <button type="button" ng-show="business.editAccess" class="btn btn-primary">Edit</button>
            </a>
             <button type="button" ng-click="business.deleteBusiness(company._id);" ng-show="business.deleteAccess"class="btn btn-danger">Delete</button>
            
          </li>
       </ul>
     </div>
   </div>
</div>

   



<div class='row show-hide-message'ng-show="business.successMsg">
    <div class="alert alert-success">{{business.successMsg}}</div>
</div>
<br>
<div class='row show-hide-message'ng-show="business.errorMsg">
    <div class="alert alert-danger">{{business.errorMsg}}</div>
</div>


