
<h1>Map</h1>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
   
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      
      /* Optional: Makes the sample page fill the window. */
      
      #floating-panel {
        position: absolute;
        top: 220px;
        left: 30%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
    <div ng-controller="mapController">
      <input ng-repeat="maps in map.companies" id="postcode" type="textbox" value={{maps.business_postcode}} ng-show="true">
      
    </div>
    <br>
    
  


    <div id="floating-panel" ng-controller="mapController" >
    <b>Start: </b>
    <select id="start">
      <option value=pos>Current location</option>
      <option value="leicester, uk">Leicester</option>
     
  
    </select>&nbsp;
    <b>End: </b>
    <select id="end"  >
      <option value=" ">Please select</option>
      <option ng-repeat="maps in map.companies" value={{maps.business_postcode}}>{{ maps.business_name}}</option>
      
      
     
    </select>
    <input id="address" type="textbox" value="Leicester, UK">
    <input id="submit" type="button" value="Search">
    </div>
    <div id="map" class="map"></div>
    <body ng-app="mapController">
      <div ng-controller="mapController"ng-init="loadScript()">
     
       
          
      </div>
      
      </div>
      </body>
    
      <br><br><br><br>

   