<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class= "headers"> Directions</div>
      <hr>
      <div id="floating-panel2" ng-controller="mapController" >
   
        <b>Search for a location: </b>
        <input id="address" type="textbox" value="">
        <input id="submit" type="button" value="Search">
        <br>
      <b>Where would you like to go: </b>
      <select id="end"  >
        <option value=" ">Please select</option>
        <option ng-repeat="maps in map.companies" value={{maps.business_postcode}}>{{ maps.business_name}}</option>
      </select> 
      </div>
      </div>
</div>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
   
    <style>
      
      #floating-panel2 {
        position:sticky;
        z-index: 5;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        color: rgba(148, 4, 4, 0.863);
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
    <div ng-controller="mapController">
      <input ng-repeat="maps in map.companies" id="postcode" type="textbox" value={{maps.business_postcode}} ng-show="false">
      
    </div>
  
  
    <div id="map" class="map"></div>
    <body ng-app="mapController">
      <div ng-controller="mapController"ng-init="loadScript()">
     
       
          
      </div>
      
      </div>
      </body>
    
      <br><br><br><br>

   