<br>
<br>

<h1>Directions</h1>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
   
    <style>
      
      #floating-panel2 {
        position: absolute;
        top: 270px;
        left: 70%;
        z-index: 5;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        color: rgba(148, 4, 4, 0.863);
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
    <div ng-controller="mapController">
      <input ng-repeat="maps in map.companies" id="postcode" type="textbox" value={{maps.business_postcode}} ng-show="false">
      
    </div>
    <br>
  
    <div id="floating-panel2" ng-controller="mapController" >
   
      <b>Search for a location: </b>
      <input id="address" type="textbox" value="">
      <input id="submit" type="button" value="Search">
      <br>
    <b>Select a location: </b>
    <select id="end"  >
      <option value=" ">Please select</option>
      <option ng-repeat="maps in map.companies" value={{maps.business_postcode}}>{{ maps.business_name}}</option>
      
      
     
    </select>
   
    
    </div>
    <div>
      <select id="address"  >
        <option >Please select</option>
        <option ng-repeat="maps in map.companies" value="{{maps.business_postcode}}">{{ maps.business_name}}</option>
        
       
       
      </select>
      <input id="submit" type="button" value="Search">
    </div>
  
    <div id="map" class="map"></div>
    <body ng-app="mapController">
      <div ng-controller="mapController"ng-init="loadScript()">
     
       
          
      </div>
      
      </div>
      </body>
    
      <br><br><br><br>

   