<div class= "page-header"> 
    <h1>Your Vehicles</h1>
</div>
<br>
<div class="jumbotron text-center" ng-show="vehicle.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<button type="button" ng-click="vehicle.showMore(number);" class="btn btn-success">Apply Filter</button> &nbsp
<button type="button" ng-click="vehicle.showAll();" class="btn btn-warning">Show All</button>
<br>
<br>
<div class="showmore">
    <div class= "col-lg-6">
        <div class="input-group">      
            <span class="input-group-addon">Results to display:  </span>
            <input type="text" class="form-control" ng-model="number">
        </div>
        
    </div>

</div>
<br>
<br>

<div class='row show-hide-message' ng-show="vehicle.showMoreError">
    <div class="alert alert-danger">{{vehicle.showMoreError}}</div>
</div>
<br>
<br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Your vehicle</strong>
    </div>
    <table class="table">
        <tr>
            <th>Vehicle Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Engine Size</th>
            <th>Colour</th>
            <th>MOT Date</th>
            <th>Tax Date</th>
            <th>Serice Date</th>
        </tr>
        <tr ng-repeat="car in vehicle.vehicles | limitTo: vehicle.limit">
            <td>{{ car.vehicle_make}}</td>
            <td>{{ car.vehicle_model}}</td>
            <td>{{ car.year}}</td>
            <td>{{ car.engine_size}}</td>
            <td>{{ car.colour}}</td>
            <td>{{ car.MOT_date}}</td>
            <td>{{ car.tax_date}}</td>
            <td>{{ car.service_date}}</td>
            
            <td>
                <a href="#!/edit/{{ car._id}}">
                    <button type="button" ng-show="vehicle.editAccess" class="btn btn-primary">Edit</button>
                </a>
                 <button type="button" ng-click="vehicle.deleteUser(person.username);" ng-show="vehicle.deleteAccess"class="btn btn-danger">Delete</button>
                
            </td>
        </tr>
    </table>

</div>



<div class='row show-hide-message'ng-show="vehicle.successMsg">
    <div class="alert alert-success">{{vehicle.successMsg}}</div>
</div>
<br>


