<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class= "headers">Add your business details</div>
        <hr>
        
       </div>
  </div>
<div class="card">
                <div class="card-body">
                <form name="busForm" ng-submit="business.conAdd(busData, busForm.$valid);" novalidate>
                    <div ng-class="{ 'has-success':(busForm.business_name.$valid && !busForm.business_name.$pristine), 'has-error':(!busForm.business_name.$valid && !busForm.business_name.$pristine) || (!busForm.business_name.$valid && 
                    busForm.$submitted)}">
                    <label >Business Name</label>
                    <input ng-disabled="business.disabled" type="text" class="form-control" name="business_name" placeholder="Please enter business name" ng-model="business.busData.business_name"ng-pattern="/^(([a-zA-Z]{2,20})+[ ]+([a-zA-Z]{2,20})+)+$|([a-zA-Z]{2,20})+/" 
                    ng-minlength="3" ng-maxlength="20" required>
                    <p class="help-block" ng-show="(!busForm.business_name.$pristine && busForm.business_name.$error.required) || (busForm.$submitted && busForm.business_name.$error.required)">This field is required</p>
                    <ul ng-show="(!busForm.business_name.$pristine && busForm.business_name.$error.pattern) || (!busForm.business_name.$pristine && busForm.business_name.$error.minlength) || (!busForm.business_name.$pristine && busForm.business_name.$error.maxlength)"class="help-block">
                        <li>Must not contain any special characters e.g.(@£$)</li>
                    </ul>
                </div>
                <br> 
                <div ng-class="{ 'has-success':(busForm.business_type.$valid && !busForm.business_type.$pristine), 'has-error':(!busForm.business_type.$valid && !busForm.business_type.$pristine) || (!busForm.business_type.$valid && 
                busForm.$submitted)}">
                    <label >Type of Business: </label>
                    <select ng-model="business.busData.business_type" name="business_type" class="custom-select" required>
                        <option value="">Please select...</option>
                        <option value=Garage>Garage</option>
                        <option value="Part's Supplier">Part's Supplier</option>
                        <option value="Garage and Parts Supplier">Garage and Parts Supplier</option>
                    </select>
                      <p class="help-block" ng-show="(busForm.business_type.$select && busForm.business_type.$error.required) || (busForm.$submitted && busForm.business_type.$error.required)">This field is required</p>
                     
                </div>
                <br> 
                <div ng-class="{ 'has-success':(busForm.business_address.$valid && !busForm.business_address.$pristine), 'has-error':(!busForm.business_address.$valid && !busForm.business_address.$pristine) || (!busForm.business_address.$valid && 
                busForm.$submitted)}">
                    <label >Business Address </label>
                    <input  ng-disabled="business.disabled"type="text" class="form-control" name="business_address" placeholder="Please enter business address" ng-model="business.busData.business_address"ng-pattern="/^\d+\s[A-z]+\s[A-z]+,\s[A-z]+/" 
                    ng-minlength="3" ng-maxlength="35" required>
                    <p class="help-block" ng-show="(!busForm.business_address.$pristine && busForm.business_address.$error.required) || (busForm.$submitted && busForm.business_address.$error.required)">This field is required</p>
                    <ul ng-show="(!busForm.business_address.$pristine && busForm.business_address.$error.pattern) || (!busForm.business_address.$pristine && busForm.business_address.$error.minlength) || (!busForm.business_address.$pristine && busForm.business_address.$error.maxlength)"class="help-block">
                        <li>Please enter your street name and number as well as the city.</li>
                        <li>Example: 61 Park Street, Leicester</li>
                    </ul>
                </div>
                <br> 
                <div ng-class="{ 'has-success':(busForm.business_postcode.$valid && !busForm.business_postcode.$pristine), 'has-error':(!busForm.business_postcode.$valid && !busForm.business_postcode.$pristine) || (!busForm.business_postcode.$valid && 
                busForm.$submitted)}">
                    <label >Business Postcode </label>
                    <input  ng-disabled="business.disabled"type="text" class="form-control" name="business_postcode" placeholder="Please enter business postcode" ng-model="business.busData.business_postcode" ng-pattern="/([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2})/" 
                    ng-minlength="4" ng-maxlength="10" required>
                    <p class="help-block" ng-show="(!busForm.business_postcode.$pristine && busForm.business_postcode.$error.required) || (busForm.$submitted && busForm.business_postcode.$error.required)">This field is required</p>
                    <ul ng-show="(!busForm.business_postcode.$pristine && busForm.business_postcode.$error.pattern) || (!busForm.business_postcode.$pristine && busForm.business_postcode.$error.minlength) || (!busForm.business_postcode.$pristine && busForm.business_postcode.$error.maxlength)"class="help-block">
                        <li>Please enter your business postcode in the following format</li>
                        <li>Examples: SE50EG, se5 0eg, WC2H 7LT</li>
                    </ul>
                </div>
                <br> 
                <div ng-class="{ 'has-success':(busForm.website.$valid && !busForm.website.$pristine), 'has-error':(!busForm.website.$valid && !busForm.website.$pristine) || (!busForm.website.$valid && 
                busForm.$submitted)}">
                    <label >Business Website </label>
                    <input  ng-disabled="business.disabled"type="text" class="form-control" name="website" placeholder="Please enter business website" ng-model="business.busData.website"ng-pattern="/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" 
                    ng-minlength="3" ng-maxlength="30" required>
                    <p class="help-block" ng-show="(!busForm.website.$pristine && busForm.website.$error.required) || (busForm.$submitted && busForm.website.$error.required)">This field is required</p>
                    <ul ng-show="(!busForm.website.$pristine && busForm.website.$error.pattern) || (!busForm.website.$pristine && busForm.website.$error.minlength) || (!busForm.website.$pristine && busForm.website.$error.maxlength)"class="help-block">
                        <li>Please enter you website address in the following format</li>
                        <li>Examples: www.cool.com, http://www.cool.com.au</li>
                    </ul>
                </div>
                <br> 
                <div ng-class="{ 'has-success':(busForm.business_email.$valid && !busForm.business_email.$pristine), 'has-error':(!busForm.business_email.$valid && !busForm.business_email.$pristine) || (!busForm.business_email.$valid && 
                busForm.$submitted)}">
                    <label >Business Email </label>
                    <input  ng-disabled="business.disabled"type="text" class="form-control" name="business_email" placeholder="Please enter business business_email" ng-model="business.busData.business_email"ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" 
                    ng-minlength="3" ng-maxlength="25" required>
                    <p class="help-block" ng-show="(!busForm.business_email.$pristine && busForm.business_email.$error.required) || (busForm.$submitted && busForm.business_email.$error.required)">This field is required</p>
                    <ul ng-show="(!busForm.business_email.$pristine && busForm.business_email.$error.pattern) || (!busForm.business_email.$pristine && busForm.business_email.$error.minlength) || (!busForm.business_email.$pristine && busForm.business_email.$error.maxlength)"class="help-block">
                        <li>Must contain"@"</li>
                        <li>Must not contain any special characters e.g.(@£$)</li>
                        <li>Musy be between 3 and 25 characters</li> 
                    </ul>
                </div>
                <br> 
                <div ng-class="{ 'has-success':(busForm.business_contact.$valid && !busForm.business_contact.$pristine), 'has-error':(!busForm.business_contact.$valid && !busForm.business_contact.$pristine) || (!busForm.business_contact.$valid && 
                busForm.$submitted)}">
                    <label >Business Contact </label>
                    <input  ng-disabled="business.disabled"type="text" class="form-control" name="business_contact" placeholder="Please enter business Contact Number" ng-model="business.busData.business_contact" ng-pattern="/^((\(?0\d{4}\)?\s?\d{3}\s?\d{3})|(\(?0\d{3}\)?\s?\d{3}\s?\d{4})|(\(?0\d{2}\)?\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?$/" 
                    ng-minlength="3" ng-maxlength="20" required>
                    <p class="help-block" ng-show="(!busForm.business_contact.$pristine && busForm.business_contact.$error.required) || (busForm.$submitted && busForm.business_contact.$error.required)">This field is required</p>
                    <ul ng-show="(!busForm.business_contact.$pristine && busForm.business_contact.$error.pattern) || (!busForm.business_contact.$pristine && busForm.business_contact.$error.minlength) || (!busForm.business_contact.$pristine && busForm.business_contact.$error.maxlength)"class="help-block">
            
                        <li>Please enter you contact details in this format. Examples 01222 555 555 | (010) 55555555 #2222 | 0122 555 5555#222</li>
                    </ul>
                </div>
                <br> 
                <div ng-class="{ 'has-success':(busForm.specialization.$valid && !busForm.specialization.$pristine), 'has-error':(!busForm.specialization.$valid && !busForm.specialization.$pristine) || (!busForm.business_name.$valid && 
                busForm.$submitted)}">
                <label >Business Specialization </label>
                <input  ng-disabled="business.disabled" type="text" class="form-control" name="specialization" placeholder="Please enter business specialization" ng-model="business.busData.specialization" required>
                <p class="help-block" ng-show="(!busForm.specialization.$pristine && busForm.specialization.$error.required) || (busForm.$submitted && busForm.specialization.$error.required)">This field is required</p>
                <ul ng-show="(!busForm.specialization.$pristine)"class="help-block">
        
                    <li>What does your business specialize in? e.g.Volkswagen</li>
                </ul>
            </div>
            <br> 
          <br>
          <button type="submit" class="btn btn-primary">Add Business</button>
        
      </form>
    </div>
  </div>
<br>

<div class="jumbotron text-center" ng-show="business.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<div class='row show-hide-message'ng-show="business.successMsg">
    <div class="alert alert-success">{{business.successMsg}}</div>
</div>

<br>

<div class='row show-hide-message' ng-show="business.errorMsg">
    <div class="alert alert-danger">{{business.errorMsg}}</div>
</div>
<br>
<br>
