<div class= "page-header"> 
    <h1>Post your business</h1>
</div>

<div class="card">
    <div class="card-body">
      <form ng-submit="business.conAdd(busData);">
    
          <label >Business Name</label>
          <input type="text" class="form-control" name="name" placeholder="Please enter business name" ng-model="business.busData.name">
        
          <label >Type </label>
          <input type="text" class="form-control" name="type" placeholder="Please enter business type" ng-model="business.busData.type">
        
          <label >Business Specialization </label>
          <input type="text" class="form-control" name="name" placeholder="Please enter business specialization" ng-model="business.busData.specialization">
        
        
          <button type="submit" class="btn btn-primary">Add Business</button>
        
      </form>
    </div>
  </div>
<br>

<div class="jumbotron text-center" ng-show="business.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<div class='row show-hide-message'ng-show="business.successMsg">
    <div class="alert alert-success">{{business.successMsg}}</div>
</div>

<br>

<div class='row show-hide-message' ng-show="business.errorMsg">
    <div class="alert alert-danger">{{business.errorMsg}}</div>
</div>