<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class= "headers"> Post an Offer</div>
        <hr>
        
       </div>
  </div>

    
      <form name="postForm" ng-submit="businessPost.postAdd(postData, postForm.$valid);"novalidate>
        <div class="card">
        <div class="card-body"> 
        <div class= "headers">Tell us about yourself!</div>
        <hr>
        <div class="col">
        <br>
        <div ng-class="{ 'has-success':(postForm.business_title.$valid && !postForm.business_title.$pristine), 'has-error':(!postForm.business_title.$valid && !postForm.business_title.$pristine) || (!postForm.business_title.$valid && 
        postForm.$submitted)}">
              <label >Title </label>
              <input  ng-disabled="businessPost.disabled" type="text" class="form-control" name="business_title" placeholder="Please enter your offer title" ng-model="businessPost.postData.business_title" required>
              <p class="help-block" ng-show="(!postForm.business_title.$pristine && postForm.business_title.$error.required) || (postForm.$submitted && postForm.business_title.$error.required)">This field is required</p>
              <ul ng-show="(!postForm.business_title.$pristine)"class="help-block">
  
                  <li>Please enter the title of your offer</li>
              </ul>
        </div>
        <br>
          <div ng-class="{ 'has-success':(postForm.business_name.$valid && !postForm.business_name.$pristine), 'has-error':(!postForm.business_name.$valid && !postForm.business_name.$pristine) || (!postForm.business_name.$valid && 
          postForm.$submitted)}">
          <label >Business Name</label>
          <input ng-disabled="businessPost.disabled" type="text" class="form-control" name="business_name" placeholder="Please enter business name" ng-model="businessPost.postData.business_name"ng-pattern="/^(([a-zA-Z]{2,20})+[ ]+([a-zA-Z]{2,20})+)+$|([a-zA-Z]{2,20})+/" 
          ng-minlength="3" ng-maxlength="20" required>
          <p class="help-block" ng-show="(!postForm.business_name.$pristine && postForm.business_name.$error.required) || (postForm.$submitted && postForm.business_name.$error.required)">This field is required</p>
          <ul ng-show="(!postForm.business_name.$pristine && postForm.business_name.$error.pattern) || (!postForm.business_name.$pristine && postForm.business_name.$error.minlength) || (!postForm.business_name.$pristine && postForm.business_name.$error.maxlength)"class="help-block">
              <li>Must not contain any special characters e.g.(@£$)</li>
          </ul>
      </div>
      <br> 
      <div ng-class="{ 'has-success':(postForm.business_type.$valid && !postForm.business_type.$pristine), 'has-error':(!postForm.business_type.$valid && !postForm.business_type.$pristine) || (!postForm.business_type.$valid && 
      postForm.$submitted)}">
          <label >Type of Business:  </label>
          <select ng-model="businessPost.postData.business_type" name="business_type"  class="custom-select"required>
            <option value="">Please select...</option>
            <option value=Garage>Garage</option>
            <option value="Part's Supplier">Part's Supplier</option>
            <option value="Garage and Parts Supplier">Garage and Parts Supplier</option>
        </select>
          <p class="help-block" ng-show="(postForm.business_type.$select && postForm.business_type.$error.required) || (postForm.$submitted && postForm.business_type.$error.required)">This field is required</p>
         
      </div>
    </div>
      <br> 
      <div ng-class="{ 'has-success':(postForm.website.$valid && !postForm.website.$pristine), 'has-error':(!postForm.website.$valid && !postForm.website.$pristine) || (!postForm.website.$valid && 
      postForm.$submitted)}">
          <label >Business Website </label>
          <input  ng-disabled="businessPost.disabled"type="text" style="width: 45%;" class="form-control" name="website" placeholder="Please enter business website" ng-model="businessPost.postData.website"ng-pattern="/^((ftp|http|https):\/\/)?(www.)?(?!.*(ftp|http|https|www.))[a-zA-Z0-9_-]+(\.[a-zA-Z]+)+((\/)[\w#]+)*(\/\w+\?[a-zA-Z0-9_]+=\w+(&[a-zA-Z0-9_]+=\w+)*)?$/" 
          ng-minlength="3" ng-maxlength="30" required>
          <p class="help-block" ng-show="(!postForm.website.$pristine && postForm.website.$error.required) || (postForm.$submitted && postForm.website.$error.required)">This field is required</p>
          <ul ng-show="(!postForm.website.$pristine && postForm.website.$error.pattern) || (!postForm.website.$pristine && postForm.website.$error.minlength) || (!postForm.website.$pristine && postForm.website.$error.maxlength)"class="help-block">
              <li>Please enter you website address in the following format</li>
              <li>Examples: www.cool.com, http://www.cool.com.au</li>
          </ul>
      </div>
    <br>
      <div ng-class="{ 'has-success':(postForm.specialization.$valid && !postForm.specialization.$pristine), 'has-error':(!postForm.specialization.$valid && !postForm.specialization.$pristine) || (!postForm.specialization.$valid && 
      postForm.$submitted)}">
            <label >Business Specialization </label>
            <input  ng-disabled="businessPost.disabled" type="text" style="width: 45%;" class="form-control" name="specialization" placeholder="Please enter business specialization" ng-model="businessPost.postData.specialization" required>
            <p class="help-block" ng-show="(!postForm.specialization.$pristine && postForm.specialization.$error.required) || (postForm.$submitted && postForm.specialization.$error.required)">This field is required</p>
            <ul ng-show="(!postForm.specialization.$pristine)"class="help-block">

                <li>What does your business specialize in? e.g.Volkswagen</li>
            </ul>
      </div>
      <br><br><br><br><br>
        <div class= "col-25" ng-class="{ 'has-success':(postForm.post.$valid && !postForm.post.$pristine), 'has-error':(!postForm.post.$valid && !postForm.post.$pristine) || (!postForm.post.$valid && 
        postForm.$submitted)}">
                <label >Post </label><br>
                <textarea style="height:200px" ng-disabled="businessPost.disabled"class="form-control" name="post"  ng-model="businessPost.postData.post" required></textarea>
                <p class="help-block" ng-show="(!postForm.post.$pristine && postForm.post.$error.required) || (postForm.$submitted && postForm.post.$error.required)">This field is required</p>
                <ul ng-show="(!postForm.post.$pristine)"class="help-block">

                    <li>Please enter your offer details</li>
                </ul>
        </div>
          <br>
        </div>
    
          <div class="container signin">
          <button type="submit" class="btn btn-primary" style="width: 45%;" >Submit your offer</button>
          </div>
        
    </div>
      </form>
    
   
  
<br>

<div class="jumbotron text-center" ng-show="businessPost.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<div class='row show-hide-message'ng-show="businessPost.successMsg">
    <div class="alert alert-success">{{businessPost.successMsg}}</div>
</div>

<br>

<div class='row show-hide-message' ng-show="businessPost.errorMsg">
    <div class="alert alert-danger">{{businessPost.errorMsg}}</div>
</div>
<br>
<br>
