
<br>
<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>



<br>

<div class='row show-hide-message' ng-show="business.showMoreError">
    <div class="alert alert-danger">{{business.showMoreError}}</div>
</div>
<br>


<div class="panel panel-primary">
    <div class="headers">
        Current Business
    </div>

<div class="panel panel-default card" ng-controller="getController">
    
      <div class="panel-body"  >
        <ul class="list-group">
          <li class="list-group-item" ng-model="company">
            <p><strong> {{ company.business_name}}</strong></p>
            <p>Type: {{ company.business_type}}</p>
            <p>Address: {{ company.business_address}}</p>
            <p>Postcode: {{ company.business_postcode}}</p>
            <p>Website: <a href="http://{{company.website}}">{{company.website}}</a></p>
            <p>Email: {{ company.business_email}}</p>
            <p>Contact Number: {{ company.business_contact}}</p>
            <p>Specialization: {{ company.specialization}}</p>
            <a href="#!/businesslist">
              <button type="button" class="btn btn-primary">Back</button>
          </a>
              <a href="#!/editBusiness/{{ company._id}}">
                <button type="button" ng-show="getBusinessID.editAccess" class="btn btn-primary">Edit</button>
            </a>
             <button type="button" ng-click="business.deleteBusiness(business._id);" ng-show="getBusinessID.deleteAccess"class="btn btn-danger">Delete</button>
            
          </li>
       </ul>
     </div>
     
   </div>
</div>
<br>
<br>
