
<br>
<div class="jumbotron text-center" ng-show="business.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>



<br>

<div class='row show-hide-message' ng-show="business.showMoreError">
    <div class="alert alert-danger">{{business.showMoreError}}</div>
</div>
<br>


<div class="panel panel-primary">
    <div class="headers">
        Current Business
    </div>

<div class="panel panel-default card" ng-contoller="getController">
    
      <div class="panel-body"  >
        <ul class="list-group">
          <li class="list-group-item" ng-model="company"> 
            <div>
              <input id="address" type="textbox" value={{company.business_postcode}} ng-show="false" >
              
            </div>
            <div id="map" class="mapBusiness" ></div>
            <p><strong> {{ company.business_name}}</strong></p>
            <br>
            <p>Type: {{ company.business_type}}</p>
            <p>Address: {{ company.business_address}}</p>
            <p>Postcode: {{ company.business_postcode}}</p>
            <p>Website: <a href="http://{{company.website}}">{{company.website}}</a></p>
            <p>Email: {{ company.business_email}}</p>
            <p>Contact Number: {{ company.business_contact}}</p>
            <p>Specialization: {{ company.specialization}}</p>
            
            <br>
            <a href="#!/businesslist">
              <button type="button" class="btn btn-primary">Back</button>
            </a>
            <a href="#!/review/{{ company._id}}">
              <button type="button" class="btn btn-primary">Write a review</button>
            </a>
          </li>
       </ul>
     </div>
    
     
     
     <body ng-app="mapController">
      <div ng-controller="busMapController"ng-init="loadScript()">
       </div>


      </div>
     </body>
     
     <div class="panel-body cardbus"  >
      <h1><strong>Reviews</strong></h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="review in reviews"> 

          <p><strong> {{ review.name}}</strong></p>
          <br>
          <p>Rating: {{ review.rating}} out of 5</p>
          <p>Comments: {{review.comments}}</p>
          <p>Posted By:{{review.author.username}}</p>  
          <button type="button" ng-click="get.deleteReview(review._id);" ng-show="get.deleteAccess"class="btn btn-danger">Delete</button>
         
          
          

        </li>
     </ul>
   </div>
   <br>
   </div>
</div>
<br>
<br>
