<div class="join-container">
    <header class="join-header">
        <img src="https://i.postimg.cc/DmkHRCHq/Classic-Solutions-Logo.png" class="img">
        <br><br>
        <h3><i class="fas fa-smile"></i> Chat Room</h3>
    </header>
    <main class="join-main">
        <form action="/#!/chat">
            <div >
                <label for="username">Welcome to your Chat Room {{main.username}}</label><br>
                <input ng-show= false
                    type="text"
                    name="username"
                    id="username"
                    value={{main.username}}
                    required/>
            </div>

           
                <label for="room">Please select a Room</label>
                
                 
               
                <select name="room" id="room" >
                    <option selected disabled>Recomended Chat Rooms from your Vehicles</option> 
                    <option  ng-repeat="car in vehicle.vehicles"value="{{ car.vehicle_make}}">{{ car.vehicle_make}}</option>
                    <option selected disabled>Please select...</option> 
                    <option value="General">General</option> 
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="BMW">BMW</option>
                    <option value="Bentley">Bentley</option>
                    <option value="Triump">Triump</option>
                    <option value="Ford">Ford</option>
                    
                </select>
         
      
            <br>
            <br>
            <hr>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>