<div class= "page-header"> 
    <h1>Reset Password</h1>
</div>

<form ng-hide="reset.hide"name="regForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>
   
    <br>
    <div ng-class="{ 'has-success':(regForm.firstpassword.$valid && !regForm.firstpassword.$pristine), 'has-error':(!regForm.firstpassword.$valid && !regForm.firstpassword.$pristine) || (!regForm.firstpassword.$valid && 
    regForm.$submitted)}">
        <label>Password</label>
        <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstpassword" placeholder="Please Enter a Password" ng-model="firstpassword"
        ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minlength="8" ng-maxlength="35" required>
        <p class="help-block" ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.required) || (regForm.$submitted && regForm.firstpassword.$error.required)">This field is required</p>

        <ul ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.pattern) || (!regForm.firstpassword.$pristine && regForm.firstpassword.$error.minlength) || (!regForm.firstpassword.$pristine && regForm.firstpassword.$error.maxlength)"class="help-block">
            <li>Must not contain any special characters e.g.(@£$)</li>
            <li>Musy be between 8 and 35 characters</li> 
            <li>Must contain one number, one uppercase and one lowercase letter</li>
        </ul> 
    </div>
    <br>
 
    <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) ||
    (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
       
        <label>ConfirmPassword</label>
        <input class="form-control" type="password" name="confirmPassword" placeholder="Please Enter a Password" match="{{[firstpassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" required>
        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
        <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstpassword.$valid">Passwords do not match</p>
         
    </div>

    <br>
    <button ng-disabled="reset.disabled" class="btn btn-primary" type="submit">Reset Password </button>

</form>

<br>

<div class="jumbotron text-center" ng-show="reset.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<div class='row show-hide-message'ng-show="reset.successMsg">
    <div class="alert alert-success">{{reset.successMsg}}</div>
</div>

<br>

<div class='row show-hide-message' ng-show="reset.errorMsg">
    <div class="alert alert-danger">{{reset.errorMsg}}</div>
</div>