<br>
<br>

<div class="container">
    
<form ng-submit="main.doLogin(loginData);">
    <div class= "headers" style="text-align: center;"> Login to Classic Solutions</div>
    
    <hr>

    <div class="vl">
        <span class="vl-innertext">or</span>
    </div>
    <div class="col">
    <label class="log">Username</label><br>
    <input ng-disabled="facebook.disabled || google.disabled" class="form-control"  type="text" name="username" placeholder="Please Enter a Username" ng-model="main.loginData.username">
      
    <br>
    <label class="log">Password</label><br>
    <input ng-disabled="main.disabled || facebook.disabled || google.disabled"class="form-control" type="password" name="password" placeholder="Please Enter a Password" ng-model="main.loginData.password">
        
    <br>
 

    </div>
   <br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button ng-disabled=true type="button" class="fb logbtn" ng-click="main.facebook();">
        <i class="fa fa-facebook fa-fw"></i> Login with Facebook</button><br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button ng-disabled=true type="button" class="google logbtn" ng-click="main.google();"class="google btn">
        <i class="fa fa-google fa-fw"></i> Login with Google+ </button>&nbsp; 
      
    <br><br>
   
    <hr>
    <div class="col"> <button ng-disabled="main.disabled || facebook.disabled || google.disabled" class="registerbtn" type="submit">Login </button>&nbsp;</div>&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;<button class="logbtn" style="background-color: orange; " style="width: 45%;"><a href="#!/register">Sign up</a> </button>
</form>
    </div>
    
  


 <div class="container signin">   
     <div class="col"><a  href="#!/resetpassword"> Forgot password?</a></div>
      <a href="#!/resetusername"> Forgot Username?</a>
 </div>




<br>



<div class="jumbotron text-center" ng-show="main.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<div class='row show-hide-message'ng-show="main.successMsg">
    <div class="alert alert-success">{{main.successMsg}}</div>
</div>

<br>

<div class='row show-hide-message' ng-show="main.errorMsg">
    <div class="alert alert-danger">{{main.errorMsg}}&nbsp<a ng-show="main.expired" href="#!/resend"><button type="button" class="btn btn-success" >Resend Activation Email</button>&nbsp;</a></div>
</div>

<div class="row show-hide-message" ng-show="facebook.errorMsg">
    <div class="alert alert-danger"> {{facebook.errorMsg}}&nbsp<a ng-show="facebook.expired" href="#!/resend"><button type="button" class="btn btn-success" >Resend Activation Email</button>&nbsp;</a></div>
</div>

<div class="row show-hide-message" ng-show="google.errorMsg">
    <div class="alert alert-danger"> {{google.errorMsg}}&nbsp<a ng-show="google.expired" href="#!/resend"><button type="button" class="btn btn-success" >Resend Activation Email</button>&nbsp;</a></div>
</div>

<br>
<br>
