 <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class= "headers">Your Profile</div>
        <hr>
        
        <br>
        
    

<div class="pannel pannel-info">
   
    <p><strong>Username:</strong> {{ main.username}} </p>
    <p><strong>Email:</strong> {{ main.useremail}} </p>
    <p><strong>Password:</strong> *********** </p>
  
<br>
</div>
<div> <a href="#!/reviews">
    <button type="button"  class="btn btn-success">Manage your Reviews</button>
</a></div>
<br>
<div> <a href="#!/profile_details">
    <button type="button"  class="btn btn-success" ng-show="main.authorized">Manage your posts</button>
</a></div>


</div>
</div>