
<br>
<br>
<br>
<br>

<div class="card">
    <div class= "headers"> Are you a business?</div>
    <hr>

<h3>Would you like to post offers and showcase your business?</h3>

<br><br>

<div >
    
   
    <div> <a href="#!/upgrade/{{main.username}}">
        <button type="button"  class="btn button2 btn-success">Yes, I would like to post my business</button>
    </a>
    <a href="#!/home">
        <button type="button"  class="btn button3 btn-danger">No, do not want to post my business</button>
    </a></div>
  
    
</div>
</div>