
<br>
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class= "headers">Are you a business?</div>
        <hr>
        <br>
        <div>
            <div> <a href="#!/upgrade/{{main.username}}">
                <button type="button"  class="btn button2 btn-success">Yes, I would like to post my business</button>
            </a>
            <a href="#!/home">
                <button type="button"  class="btn button3 btn-danger">No, I do not want to post my business</button>
            </a></div>
        </div>
        <br>
</div>
<br>
<br>