<div class= "page-header"> 
    <h1>User Registration</h1>
</div>

<form name="regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
    <div ng-class="{ 'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && 
    regForm.$submitted)}">
        <label>Name</label> 
        <input ng-disabled="register.disabled" class="form-control" type="text" name="name" placeholder="Please Enter Name" ng-model="register.regData.name" ng-pattern="/^(([a-zA-Z]{2,20})+[ ]+([a-zA-Z]{2,20})+)+$/" 
        ng-minlength="2" ng-maxlength="20" required>
        <p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This field is required</p>

        <ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)"class="help-block">
            <li>Must have a space in between first and last name</li>
            <li>Must not contain any special characters e.g.(@£$)</li>
            <li>Must not contain any numbers</li>
            <li>Musy be between 2 and 20 characters</li> 
        </ul>
    </div>
    <br> 



    <div ng-class="{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid  ), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && 
    regForm.$submitted) || register.emailInvalid }">
        <label>Email</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="email" placeholder="Please Enter Email" ng-model="register.regData.email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" 
        ng-blur="register.checkEmail(regData);"ng-minlength="3" ng-maxlength="25" required>
        <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
        
        <p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{register.emailMsg}}</p>
        <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)"class="help-block">
            <li>Must contain"@"</li>
            <li>Must not contain any special characters e.g.(@£$)</li>
            <li>Musy be between 3 and 25 characters</li> 
        </ul>
    </div>
    <br>



    <div ng-class="{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && 
    regForm.$submitted) || register.usernameInvalid }">
        <label>Username</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="username" placeholder="Please Enter a Username" ng-model="register.regData.username" 
        ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-blur="register.checkUsername(regData);" ng-minlength="3" ng-maxlength="25" required>
        <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required</p>

        <p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{register.usernameMsg}}</p>
        <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)"class="help-block">
            <li>Must not contain any special characters and spaces e.g.(@£ $)</li>
            <li>Musy be between 3 and 25 characters</li> 
        </ul>
    </div>
    


    <br>
    <div ng-class="{ 'has-success':(regForm.firstpassword.$valid && !regForm.firstpassword.$pristine), 'has-error':(!regForm.firstpassword.$valid && !regForm.firstpassword.$pristine) || (!regForm.firstpassword.$valid && 
    regForm.$submitted)}">
        <label>Password</label>
        <input ng-disabled="register.disabled" class="form-control" type="password" name="firstpassword" placeholder="Please Enter a Password" ng-model="firstpassword"
        ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minlength="8" ng-maxlength="35" required>
        <p class="help-block" ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.required) || (regForm.$submitted && regForm.firstpassword.$error.required)">This field is required</p>

        <ul ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.pattern) || (!regForm.firstpassword.$pristine && regForm.firstpassword.$error.minlength) || (!regForm.firstpassword.$pristine && regForm.firstpassword.$error.maxlength)"class="help-block">
            <li>Must not contain any special characters e.g.(@£$)</li>
            <li>Musy be between 8 and 35 characters</li> 
            <li>Must contain one number, one uppercase and one lowercase letter</li>
        </ul> 
    </div>
    <br>
 
    <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) ||
    (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
        <label>ConfirmPassword</label>
        <input class="form-control" type="password" name="confirmPassword" placeholder="Please Enter a Password" match="{{[firstpassword]}}" ng-change="register.regData.password = confirm" ng-model="confirm" required>
        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
        <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstpassword.$valid">Passwords do not match</p>
         
    </div>

    <br>
    <button ng-disabled="register.disabled" class="btn btn-primary" type="submit">Register </button>

</form>

<br>

<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>
<div class='row show-hide-message'ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
</div>

<br>

<div class='row show-hide-message' ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
</div>