

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class= "headers"> Your Reviews </div>
      <hr>
      <div class= "col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="search for .." ng-model="searchKeyword">&nbsp;
            <button type="button" ng-click="author.search(searchKeyword, number);" class="btn btn-success">Search</button>&nbsp;
            <button type="button" ng-click="author.clear();"class="btn btn-default">Clear</button>&nbsp;
         
        </div>
    </div>
  </div>
  <br>


<div class="panel panel-primary">
        <div class="panel panel-default card" ng-controller="authorController">
          <div class="panel-body"  >
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="company in author.review | filter: searchFilter ">
                <p><strong> {{ company.name}}</strong></p>
                <p>Name: {{ company.rating}} out of 5</p>
                <p>Comments: {{ company.comments}}</p>
              
                
                
                <button type="button" ng-click="author.deleteReview(company._id);" class="btn btn-danger">Remove Review</button>
                <a href="#!/profile">
                    <button type="button" class="btn btn-primary">Back</button>
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
</div>