



<div class="panel panel-default card" >
    
    <div class="panel-body"  >
      <ul class="list-group">
        <li class="list-group-item" ng-model="user">
          <p><strong> Hi, {{ user.name}}</strong></p>
          <p>_id: {{ user._id}}</p>
          <p>Username: {{ user.username}}</p>
          <p>Permission: {{ user.permission}}</p>
          <p>Postcode: {{ company.business_postcode}}</p>
         
          
        </li>
     </ul>
   </div>
   
 </div>
 <div>
   <p> Please click on the link below to become a business</p>
 </div>
 <label><strong>Permission: &nbsp &nbsp</strong> </label> {{ newPermission }}

<button  ng-disabled="upgrade.disableModerator" ng-click="upgrade.upgradePermission('moderator');"type="button" class="btn btn-info">Moderator</button>&nbsp

<br>
<div> <a href="#!/business/{{user._id}}">
  <button type="button"  class="btn btn-success">Yes I would like to post my business</button>
</a></div>

<br>
<div class='row show-hide-message'ng-show="upgrade.successMsg">
    <div class="alert alert-success">{{upgrade.successMsg}}</div>
</div>

<br>

<div class='row show-hide-message' ng-show="upgrade.errorMsg">
    <div class="alert alert-danger">{{upgrade.errorMsg}}</div>
</div>