
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class= "headers"> User Management </div>
        <hr>
        <div class= "col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="search for .." ng-model="searchKeyword">&nbsp;
                <button type="button" ng-click="management.search(searchKeyword, number);" class="btn btn-success">Search</button>&nbsp;
                <button type="button" ng-click="management.clear();"class="btn btn-default">Clear</button>&nbsp;
                <a href="#!/search">
                    <button type="button" class="btn btn-warning">Advanced Search</button>
                </a>
            </div>
        </div>
        
        </div>
</div>

<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>


<div ng-show="searchFilter !== undefined">
    <p>Total Results: {{( management.users | filter: searchFilter ).length }} </p>
</div>
<div ng-show="searchFilter !== undefined">
    <p>Showing: {{( management.users | filter: searchFilter | limitTo: management.limit).length }} </p>
</div>
<br>
<div class='row show-hide-message' ng-show="management.showMoreError">
    <div class="alert alert-danger">{{management.showMoreError}}</div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>User Management</strong>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Permission</th>
        </tr>
        <tr ng-repeat="person in management.users | filter: searchFilter | limitTo: management.limit">
            <td>{{ person.name}}</td>
            <td>{{ person.username}}</td>
            <td>{{ person.email}}</td>
            <td>{{ person.permission }}</td>
            <td>
                <a href="#!/edit/{{ person._id}}">
                    <button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button>
                </a>
                 <button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess"class="btn btn-danger">Delete</button>
                
            </td>
        </tr>
    </table>

    <div class="showmore">
        <div class= "col-lg-6">
            <div class="input-group">      
                <span class="input-group-addon">Results to display:  </span> &nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="number">&nbsp;
                <br>
                <button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button> &nbsp
                <button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
            </div>
            
        </div>
    
    </div>

</div>



<div class='row show-hide-message'ng-show="management.successMsg">
    <div class="alert alert-success">{{management.successMsg}}</div>
</div>
<br>


